.select > div{
    text-transform: capitalize;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.containerRegister{
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 93vh;
    width: 100%;
    align-items: center;
    background-image: "";
    background-size:cover;
    background-repeat: no-repeat;
}
.containerBotonAtras{
    display: flex;
    width: 20%;
    text-align: center;
}
.botonAtras{
    color:#2489ee;
    font-size: 30px;
    margin-left: 30px;
    padding: 10px;
    max-width: 200px;
}
.containerFormulario{
    background-color: #ffffffe7;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(51,51,51,.521);
    display: flex;
    flex-direction: column;
    height: 84vh;
    margin-bottom: 20px;
margin-top: 30px;
    padding: 20px;
    width: 80%;
}
.formulario{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.tituloFormulario{
    color: #007bf5;
    font-family: omnes-pro, sans-serif;
    text-align: center;
}
.containerImagen{
    display: flex;
    justify-content: flex-start;
}   
.imagen{
    border-radius: 50%;
    width: 100px;
}
.iconMas{
    color: #262626;
    position: absolute;
    font-size: 20px;
}
.input{
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 80%;
    margin-top: 20px;
    padding-left: 20px;
    outline: none;
}
.input::placeholder{
    color:#838383dc;
    font-size: 15px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
}
.boton{
    border: none;
    background-color: #262626;
    border-radius: 20px;
    color: #E3E4E5;
    font-size: 15px;
    padding: 2px 20px 2px 20px;
    height: 40px;
    width:200px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}
