/* NAVBAR */
#navbar {
  box-shadow: 0px -5px 12px;
}

#navbar .img-brand {
  margin-right: 10px;
}

#navbar .img-brand,
.img-lang {
  height: 50px;
}

#navbar .nav-link {
  font-weight: 500;
}

#navbar .border-right {
  border-color: #ccc !important;
  border-width: 2px !important;
}

#navbarGart {
  place-content: center;
  justify-content: center;
  display: inherit;
  position: absolute;
  margin: auto;
  left: 50%;
  right: 50%;
}

#navbarGart,
#navbarGart button {
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase !important;
  font-size: 0.8rem !important;
  font-weight: 600;
}

#navbarGart .btn {
  background-color: transparent !important;
  color: #fff !important;
}

#navbarGart a {
  font-weight: 600;
  text-transform: initial !important;
  font-size: 0.85rem !important;
}

#navbarGart .bg-transparente {
  background-color: rgba(0, 0, 0, 0.75);
}

#navbarGart .dropdown-item:focus,
#navbarGart .dropdown-item:hover {
  background-color: rgba(200, 200, 200, 0.6);
}

#navbarGart .btn-group:hover > div.dropdown-menu {
  display: block !important;
}

.fixed-top {
  height: 8vh;
}

.nav-link-mobile {
  display: none;
}

.bg-gart {
  background-color: #000;
  color: #fff;
}
